// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #0083a7
$secondary = #47b4d1
$accent    = #c74e29

$positive  = #99c3d3
$negative  = #edb5bf
$info      = #e9e0d2
$warning   = #fce181

$body-font-size   = 16px
